page-recording {

}
ion-title{
	font-size:1.3rem !important;
}
ion-input{
	background-color:#eee;
	border: 2px solid black;
    border-radius: 5px;
}
.scroll-content{
 padding-left:0px !important;
 padding-right:0px !important;
 padding-top:0px !important;
 
 }
.buttton-start-recording,
.buttton-start-recording.activated {
   /* background-color: red;*/
   background-color:white;
}

.buttton-start-recording:hover:not(.disable-hover) {
  /*  background-color: #ff6666;*/
  background-color:white;
}

.buttton-stop-recording,
.buttton-stop-recording.activated {
  /*  background-color: orange;*/
  background-color:white;
}

.buttton-stop-recording:hover:not(.disable-hover) {
  /*  background-color: #ffc966;*/
  background-color:white;
}

.buttton-start-playback,
.buttton-start-playback.activated {
   /* background-color: green;*/
   background-color:white;
}

.buttton-start-playback:hover:not(.disable-hover) {
  /*  background-color: #80ff80; */
  background-color:white;
}

.buttton-stop-playback,
.buttton-stop-playback.activated {
  /*  background-color: blue;*/
  background-color:white;
}

.buttton-stop-playback:hover:not(.disable-hover) {
   /* background-color: #387ef5;*/
   background-color:white;
}