page-home {

}

ion-title{
	font-size:1rem !important;
	text-align:center;
}
img{
	width:50px;
	height:50px;
	verticle-align:middle;
}
ion-row{
	text-align:center;
}
.record-item p{
	font-size:10px;
}